.page {
  scroll-behavior: smooth;
  font-family: Cinzel, serif;
  font-size: 16px;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.header {
  box-sizing: border-box;
  background-image: url("bg.fd22e69c.png");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__bottom {
  padding: 280px;
  padding-inline: 20px;
}

@media (width >= 576px) {
  .header__bottom {
    padding-inline: 72px;
  }
}

.header-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  font-style: Bold;
  letter-spacing: -1.5px;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
}

@media (width >= 576px) {
  .header-title {
    font-weight: 700;
    font-style: Bold;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
    font-size: 64px;
    line-height: 64px;
  }
}

@media (width >= 1024px) {
  .header-title {
    font-weight: 700;
    font-style: Bold;
    letter-spacing: -1.5px;
    text-align: center;
    font-size: 80px;
    line-height: 80px;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  padding-inline: 20px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-inline: 72px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

.top-bar__logo {
  display: flex;
}

.icon {
  background-size: contain;
  width: 24px;
  height: 24px;
  display: block;
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon_burger {
  background-image: url("Icon-Burger.f995b80d.png");
}

.icon_close {
  background-image: url("Icon-Close.a4bcbfcb.png");
}

.icon_burger-hover {
  background-image: url("Icon-Burger-menu-hover.0fa16731.png");
  display: none;
}

.menu {
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  background-color: #d12d35;
  height: 100vh;
  overflow: hidden;
}

.menu__top {
  justify-content: space-between;
  display: flex;
}

.menu__content {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .menu__content {
    padding-inline: 72px;
  }
}

.nav-list {
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  flex-direction: column;
  gap: 32px;
  margin: 0 0 40px;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  list-style: none;
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.the-met-avenue, .the-met-cloisters {
  color: #fff;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.call-order {
  color: #fff;
  width: fit-content;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.section-title {
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  leading-trim: NONE;
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 48px;
}

.section-title__align-left {
  text-align: left;
}

.main {
  row-gap: 96px;
  padding-block: 96px;
  padding-inline: 20px;
  display: grid;
}

@media (width >= 576px) {
  .main {
    row-gap: 120px;
    padding-block: 120px;
    padding-inline: 72px;
  }
}

.about-us {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .about-us {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .about-us {
    --columns: 12;
  }
}

.about-us__content {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .about-us__content {
    grid-column: 4 / 7;
  }
}

@media (width >= 1024px) {
  .about-us__content {
    grid-column: span 5;
  }
}

.about-us__title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .about-us__title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .about-us__title {
    grid-column: 1 / 6;
  }
}

.about-us__subheading {
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  leading-trim: NONE;
  letter-spacing: 0;
  font-size: 24px;
  line-height: 30px;
}

.about-us__schedule {
  flex-direction: row;
  gap: 24px;
  margin-bottom: 20px;
  display: flex;
}

.about-us__hours {
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 27px;
  display: flex;
}

.about-us__days {
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 27px;
  display: flex;
}

.about-us__under-heading {
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  leading-trim: NONE;
  letter-spacing: 0;
  color: #d12d35;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 140%;
}

.now-on-views_subtitle {
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  leading-trim: NONE;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 48px;
  max-width: 280px;
  margin-inline: auto;
  padding: 0;
  font-size: 16px;
  line-height: 27px;
}

@media (width >= 576px) {
  .now-on-views_subtitle {
    max-width: 392px;
  }
}

@media (width >= 1024px) {
  .now-on-views_subtitle {
    max-width: 325px;
  }
}

.now-on-view__subtitle {
  font-weight: 400;
  font-style: Regular;
  leading-trim: NONE;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 27px;
}

.now-on-viewswrapper {
  row-gap: 40px;
  display: grid;
}

@media (width >= 576px) {
  .now-on-views {
    row-gap: 64px;
  }
}

.now-on-view__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
  margin-bottom: 16px;
  display: grid;
}

@media (width >= 576px) {
  .now-on-view__photos {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .now-on-view__photos {
    --columns: 12;
  }
}

.now-on-view__photos-grid {
  --columns: 3;
}

@media (width >= 576px) {
  .now-on-view__photos-grid {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .now-on-view__photos-grid {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .now-on-view__link {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .now-on-view__link {
    grid-column: span 4;
  }
}

@media (width >= 576px) {
  .now-on-view__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .now-on-view__link--wide {
    grid-column: span 8;
  }
}

@media (width >= 576px) {
  .now-on-view__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .now-on-view__link--square {
    grid-column: span 4;
  }
}

.now-on-view__link-vanish {
  display: block;
}

@media (width >= 576px) {
  .now-on-view__link-vanish {
    display: none;
  }
}

@media (width >= 1024px) {
  .now-on-view__link-vanish {
    display: block;
  }
}

.now-on-view__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.now-on-view__title {
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  leading-trim: NONE;
  letter-spacing: 0;
  color: #d12d35;
  font-size: 16px;
  line-height: 27px;
}

.explore__photo {
  width: 100%;
}

.explore__title {
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  leading-trim: NONE;
  letter-spacing: 0;
  text-align: center;
  color: #d12d35;
  font-size: 24px;
  line-height: 140%;
}

.explore__description {
  leading-trim: NONE;
  letter-spacing: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.testimonials__explores {
  row-gap: 40px;
  display: grid;
}

@media (width >= 1024px) {
  .testimonials__explores {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
}

.contact-info {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-row: 1;
  gap: 24px;
  display: grid;
}

@media (width >= 576px) {
  .contact-info {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .contact-info {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .contact-info {
    grid-template-columns: var(--columns), 1fr;
  }
}

.contact-info .branch {
  grid-column: 1 / -1;
  font-size: 14px;
}

@media (width >= 1024px) {
  .contact-info .branch {
    grid-column: span 3;
  }
}

.contact-info .branch h3 {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
}

.contact-info .branch .label {
  text-transform: uppercase;
  font-family: Cinzel;
  font-size: 12px;
  font-weight: 400;
  font-style: Regular;
  leading-trim: NONE;
  letter-spacing: 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 27px;
}

.contact-info .branch .linkk {
  color: inherit;
  font-family: Cinzel;
  font-weight: 700;
  font-style: Bold;
  leading-trim: NONE;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
}

.contact-info .branch address {
  font-style: normal;
}

.contact-form {
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 15px;
  display: grid;
}

@media (width >= 576px) {
  .contact-form {
    grid-area: 1 / 4 / auto / 6;
  }
}

@media (width >= 1024px) {
  .contact-form {
    grid-column: 8 / 12;
  }
}

.contact-form input {
  background-color: #f8f8fa;
  border: none;
  width: 260px;
  height: 28px;
  margin: 0;
  padding: 10px;
  font-size: 14px;
}

@media (width >= 1024px) {
  .contact-form input {
    width: 390px;
  }
}

.contact-form textarea {
  resize: none;
  background-color: #f8f8fa;
  border: none;
  width: 260px;
  height: 144px;
  padding: 10px;
}

@media (width >= 1024px) {
  .contact-form textarea {
    width: 390px;
  }
}

.contact-form textarea::placeholder, .contact-form input::placeholder {
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  leading-trim: NONE;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 20px;
}

.contact-form button {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #a6192e;
  border: none;
  width: 280px;
  height: 56px;
  margin-top: 10px;
  padding: 12px;
  font-weight: bold;
}

@media (width >= 1024px) {
  .contact-form button {
    width: 411px;
  }
}

.contact-form button:hover {
  background-color: #ae1c23;
}

.footer {
  object-position: center;
  object-fit: cover;
}

.footer__image {
  height: 100 vh;
  width: 100%;
}

.phone-icon-wrapper {
  display: inline-block;
  position: relative;
}

.phone-icon-wrapper .phone-tooltip {
  color: #fff;
  z-index: 100;
  white-space: nowrap;
  background-color: #000000e6;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.4;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.phone-icon-wrapper .phone-tooltip p {
  margin: 0 0 5px;
}

.phone-icon-wrapper:hover .phone-tooltip {
  display: block;
}

.icon_phone {
  background-image: url("Icon-Phone.7b30c230.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: block;
}

.icon_phone:hover {
  transform: scale(1.2);
}

@media (width >= 1024px) {
  .icon_phone:hover:before {
    content: "The Met Fifth Avenue\a +1 212-535-7710\a The Met Cloisters\a +1 212-923-3700";
    color: #fff;
    letter-spacing: 2px;
    text-align: left;
    white-space: pre;
    height: 40px;
    margin-left: -190px;
    padding-right: 60px;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
    display: block;
  }
}
/*# sourceMappingURL=layout_landing-page.971c2ea4.css.map */
